:root {
    --lemon: #faff00;
    --richblack: #171a21;
}

body {
  margin: 0;
  background-color: var(--richblack);
}

#nav {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lemon);
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none !important;
}


#home, #store {
    color: white;
}

#storeitems {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}

#storeitems img {
    height: 250px;
}

#storeitems img:hover {

}

#item {
    position: relative;
    background-color: white;
}



#infobox {
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0);
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#infobox:hover {
    filter: opacity(1);
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
}