:root {
    --lemon: #faff00;
    --richblack: #171a21;
    --waifair-purple: #7f187f;
    --pale-grey: rgb(128, 128, 128);
    --imperial: #FF0035;
}

body {
  margin: 0;
  background-color: var(--richblack);
}

@font-face {
    font-family: tommy;
    src: url('fonts/tommy.otf');
}

@font-face {
    font-family: tommylight;
    src: url('fonts/tommylight.otf');
}

@font-face {
    font-family: nostrud;
    src: url('fonts/nostrud.ttf');
}

.App {
    position: relative;
    overflow: hidden;
    font-family: tommy, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--richblack);
    position: relative;
    height: 100px;
}

#nav>h1 {
    position: absolute;
    font-family: nostrud, sans-serif;
    font-size: 8.6rem;
    transform: translate(0, 1%);
    left: 0;
    color: var(--lemon);
    z-index: 2;
    pointer-events: none;
}

#navlinks {
    display: flex;
    position: absolute;
    z-index: 1;
    padding: 0;
    gap: 40px;
    right: 0;
    margin-right: 30px;
}

#navlinks:hover {
    z-index: 3;
}

#navlinks li {
    font-family: tommy, sans-serif;
    list-style-type: none;
    font-size: 6rem;
    color: var(--imperial);
    font-weight: bolder;
    text-decoration-style:wavy !important;
    position: relative;
    z-index: 1;
    background-color: transparent;
    filter: opacity(0.5);
    transition: all 0.4s, letter-spacing 0.8s;
    letter-spacing: -20px;
}

#homelink:hover, #storelink:hover {
    filter: opacity(1);
    letter-spacing: 0px;
}


#home, #store {
    color: white;

    height: 100%;
}

#storeitems {

    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Have only three items in the third row. */
#storeitems>#item:nth-child(7) {
    margin-right: 160px;
}

#storeitems>#item:nth-child(5) {
    margin-left: 160px;
}

#storeitems img:hover {

}

#item {
    position: relative;
    background-color: white;
    border-radius: 100%;
    margin: -12px 0 -12px 0;
    height: 20vh;
    width: 20vh;
    overflow: hidden;
    transition: all 0.4s;
}

#item:hover {
    border: 10px solid var(--imperial);
    height: 25vh;
    width: 25vh;
}

#item>img {
    position: absolute;
    height: 33vh;
    width: auto;
    filter: grayscale(100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infobox {
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0);
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

#infobox:hover {
    filter: opacity(1);
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

#cart {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 250px;
    z-index: 3;
    color: black;
    transition: all 0.4s;
    margin: 10px 10px 0 0 ;
    border: 4px solid var(--richblack);
    padding-top: 3rem;
}

#cart.hidden {
    transform: translateX(calc(100% + 10px));
}

#carttoggle {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.4s;
    font-size: 2rem;
    background-color: white;
    border: 4px solid transparent;
}

#carttoggle.cartbtnhidden {
    left: -4px;
    border: 4px solid var(--richblack);
    background-color: var(--imperial);
    transform: translate(-100%);
}

#itempage {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 90vh;
    background-color: white;
    transform: translate(-50%, 100%);
    z-index: 2;
    filter: opacity(0.5);
    transition: all 0.4s;
    color: black;
    font-family: tommy, sans-serif;
    padding: 20px;

}

#itempage.showninfo {
    filter: opacity(1);
    transform: translate(-50%, 0%);
}

#itempageinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
}

#infoheader {
    font-size: 1rem;
    display: flex;
    gap: 16px;
    font-family: tommylight, sans-serif;
    grid-column: span 2;
    margin-bottom: 35px;
    align-items: center;
}

#infoheader>button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--waifair-purple);
    text-decoration: underline;
    cursor: pointer;
}

#infoheader>button>img {
    filter: invert(12%) sepia(83%) saturate(3283%) hue-rotate(288deg) brightness(100%) contrast(95%);
}

#infoimages {
    display: flex;
}

#infoimages img {
    width: 408px;
    height: auto !important;
}

#infodetails {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5px;
    gap: 20px;
}

#infodetails a {
    color: var(--waifair-purple);
}

#infodetails>h2 {
    font-size: 2rem;
    margin: 0 0 -15px 0;
}

#infodetails #cost {
    font-size: 2.5rem;
    color: #990e35;
    margin: 10px 0 10px 0;
}

#rating {
    display: flex;
    align-items: center;
    gap: 15px;
}

img#stars {
    height: 1.2rem;
    margin-right: -10px;
}

#shipping {
    margin: 10px 0 10px 0;
}

#racebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#racebox>img {
    height: 56px;
    cursor: pointer;
    padding: 3px;
    background-color: white;
    border: 1px solid var(--pale-grey);
    border-radius: 12px;
}

#racebox>img:hover {
    border: 1px solid black;
}


#cartbox {
    display: flex;
    gap: 8px;
}


#addbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3rem;
    width: 9rem;
    background-color: white;
    border-radius: 25px;
}

#addbox>button:nth-child(1) {
    border-radius: 25px 0px 0px 25px;
}

#addbox>button:nth-child(3) {
    border-radius: 0px 25px 25px 0px;
    
}

#addbox>button {
    cursor: pointer;
    border: none;
    background-color: #fff;
    font-size: 2rem;
    font-weight: lighter;
    transition: all 0.4s;
    border: 1px solid var(--pale-grey);
}

#addbox>button:hover {
    border: 1px solid var(--waifair-purple);
    color: var(--waifair-purple);
    background-color: rgb(240, 234, 222);
}

#addbox>div {
    border-top: 1px solid var(--pale-grey);
    border-bottom: 1px solid var(--pale-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartbox>#heartbox {
    cursor: pointer;
    border: 1px solid var(--waifair-purple);
    border-radius: 40px;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

#cartbox>#heartbox:hover {
    background-color: rgb(240, 234, 222);
}

#cartbox>#heartbox>img {
    filter: invert(12%) sepia(83%) saturate(3283%) hue-rotate(288deg) brightness(100%) contrast(95%);
}

#cartbtn {
    border-radius: 25px;
    border: none;
    background-color: var(--waifair-purple);
    color: white;
    font-family: tommy, sans-serif;
    font-size: 1rem;
    padding: 10px 63px 10px 63px;
    transition: all 0.4s;
    cursor: pointer;
}

#cartbtn:hover {
    background-color: #9e529e;
}

#chevron {
    position: absolute;
    height: 300px;
    z-index: 1;
    bottom: -100px;
    left: 0;
    transform: translate(-50%, 0%);
    filter: invert(16%) sepia(85%) saturate(7361%) hue-rotate(343deg) brightness(102%) contrast(109%);
    transition: all 0.4s;
    pointer-events: none;
}